# Dart & OS artifacts
.dart_tool/
.packages
pubspec.lock
data/settings.json
data/config.json
*.zip
*.exe
*.dll
data/app.so
data/icudtl.dat
data/flutter_assets/
/upstream/
!lib/upstream/
!android_app/lib/upstream/
data/*.tmp
*.tmp

# Flutter & Android
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/android/.gradle/
**/android/local.properties
**/android/app/build/
build_output/
*.apk

